.pageWrapper {
  display: flex;
  flex-direction: column;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  align-items: center;
  padding: 8px;
  gap: 1rem;
  border-radius: 0.75rem;
  height: 100%;
  pointer-events: none;
  transition: 0.8s ease-in-out;
}
.pageWrapper-active {
  opacity: 1;
  transform: scale(1);
  pointer-events: visible;
}
