@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Cambria2";
  src: url("../public/fonts/Cambria.ttf");
}
.dot {
  opacity: 0;
}
.slick-dots.slick-thumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: none;
}

.slick-dots.slick-thumb li {
  width: 35px;
  height: 9px;
  margin: 0 3px;
  transition: all 0.5s ease-in-out;
  will-change: width;
  background-color: #949292;
  opacity: 0.7;
}

.slick-dots.slick-thumb li.slick-active {
  background-color: white;
  opacity: 1;
  width: 40px;
}
